#Scala
.scala_dependencies
.worksheet

#Eclipse
.project
.classpath
.settings/
bin/

#IntelliJ
*.iml
*.ipr
*.iws
.idea/
out/
projectFilesBackup/

#Gradle
.gradle/
build/
gradle-app.setting

#Git
.cache

#Other
run/
libs/

#SBT
.cache/
.history/
.lib/
dist/*
target/
lib_managed/
src_managed/
project/boot/
project/plugins/project/